body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  background: rgba(102, 102, 102, 0.1);
  position: relative;
}
html, body{
  height: 100%;
}
*{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, a{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

.preview-enter {
  opacity: 0;
}
.preview-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.preview-exit {
  opacity: 1;
}
.preview-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@keyframes commentMarkup{
  0%{
    background: #e4e5ee;
  }
  15%{
    background: #e6e08ea6;
  }
  25%{
    background: #e4e5ee;
  }
  40%{
    background: #e6e08ea6;
  }
  50%{
    background: #e4e5ee;
  }
  75%{
    background: #e6e08ea6;
  }
  100%{
    background: #e4e5ee;
  }
}
